.membership-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}
.MembershipFee_logo img {
  margin-top: 6rem;
  width: 25rem;
  height: auto;
}
h1,
h2 {
  color: #333;
}

.form-box {
  background: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  font-size: 1rem;
  color: #555;
}

button {
  padding: 10px 15px;
  background-color: rgb(20, 188, 20);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(25, 137, 25);
}
.required {
  color: red;
  margin-left: 2px;
  font-size: 1rem;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgb(198, 243, 198); /* or use rgb(144, 238, 144) */
  padding: 1rem;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgb(245, 202, 202);
  padding: 1rem;
  border-radius: 5px;
}

.payment-options {
  margin-top: 20px;
  text-align: center; /* Center align the content */
}

.payment-options a {
  display: inline-block; /* Allows buttons to be centered */
  text-align: center;
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  width: 250px;
}

.paypal-button {
  background-color: #ffc439;
  color: black;
}

.card-button {
  background-color: #0070ba;
  color: white;
}
.pdf-download {
  margin-top: 20px;
  text-align: center;
}

.pdf-button {
  display: inline-block;
  background-color: #28a745; /* Green background */
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pdf-button:hover {
  background-color: #218838; /* Darker green on hover */
}

@media (max-width: 768px) {
  .MembershipFee_logo img {
    margin-top: 2rem;
    width: 13rem;
    height: auto;
  }
  .membership-container {
    width: 90%;
    padding: 10px;
  }

  .form-box {
    padding: 10px;
  }

  input,
  select {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
