.PhotoGallery-container {
  text-align: center;
  padding: 0.2rem 4rem;
  font-family: sans-serif;
  margin-top: 4rem;
}
h1 {
  text-align: center;
  font-size: 2rem; /* Larger font size for desktop */
  font-family: "Gill Sans MT";
  margin-bottom: 2rem;
}

.photo_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 5 images per row */
  gap: 10px;
  justify-items: center;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%; /* Ensure the container takes full width available */
  height: auto; /* Fixed height for uniform image size */
  overflow: hidden; /* Hide overflow to crop the image */
  border-radius: 8px; /* Rounded corners */
}

.thumbnail img {
  width: 100%; /* Fill the container width */
  height: 100%; /* Fill the container height */
  object-fit: cover; /* Crop the image while maintaining aspect ratio */
  transition: transform 0.3s ease;
}

.thumbnail img:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain; /* Make sure image fits without cropping */
  border-radius: 8px;
  margin-top: 4rem;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  background: none;
}

.arrow-button.prev {
  left: -9rem;
  background: none;
}
.arrow-button.prev:hover {
  color: red;
}

.arrow-button.next {
  right: -9rem;
  background: none;
}
.arrow-button.next:hover {
  color: red;
}

.close {
  position: absolute;
  top: 10px;
  right: -10rem;
  font-size: 30px;
  background-color: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-top: 6rem;
}

.close:hover {
  color: red;
  background: none;
}
@media (max-width: 1024px) {
  .App {
    text-align: center;
    padding: 0.2rem 1rem;
    font-family: sans-serif;
  }
  h1 {
    font-size: 2.5rem; /* Slightly smaller font size for laptops */
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.5rem; /* Smaller font size for mobile */
    margin-bottom: 1rem; /* Reduce margin for mobile */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem; /* Smaller font size for very small screens */
    margin-bottom: 0.8rem; /* Smaller margin for compact screens */
  }
}
